---
layout: page
title: Archive
description: "All thoughts on one page."
permalink: /archive/
---

<section class="thoughts">

    <ul>
        {% for post in site.posts %}

            {% capture currentyear %}{{post.date | date: "%Y"}}{% endcapture %}
            {% if currentyear != year %}
                <h2>{{ currentyear }}</h2>
            {% capture year %}{{currentyear}}{% endcapture %}
            {% endif %}

            <li>
                <a href="{{ post.url }}">{{ post.title }}</a>
                <p>{{ post.description }}</p>
                <span>Day {{ post.date | date: '%j' }}</span>
            </li>
        {% endfor %}
    </ul>

</section>
