---
layout: page
title: Blog
description: "Blog"
permalink: /blog/
---

{% for post in site.posts %}
  <!-- {% capture currentyear %}{{post.date | date: "%Y"}}{% endcapture %}
  {% if currentyear != year %}
     <h2>{{ currentyear }}</h2>
    {% capture year %}{{currentyear}}{% endcapture %}
  {% endif %} -->
  <ul class="blog-list">
    <li>
      <a class="blog-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      <span class="blog-meta">{{ post.date | date: '%B %d, %Y' }}</span>
      <section class="blog-excerpt">
          {% if post.description.size > 0 %}
            {{ post.description }}
          {% else %}
            {{ post.excerpt }}
          {% endif %}
      </section>
    </li>
  </ul>
{% endfor %}
