<header class="bio">
{{ if .IsHome }}
  <h1>HEJ 👋</h1>

  <p>
    My name is <b>Mijndert Stuij</b> — an engineer, runner and minimalist. I bring 10+ years of AWS experience to the table. I love sharing my knowledge with others.
  </p>

  <p class="header-links">
    <a href="https://github.com/mijndert">GitHub</a>
    <a href="https://twitter.com/mijndert">Twitter</a>
    <a href="/uses/">Uses</a>
    <a href="/aws/">AWS Explained</a>
  </p>

  {{ else }}
  <a href="{{ site.BaseURL }}">back</a>
</header>
{{ end }}