<header class="bio">
  {{ if .IsHome }}
  <h1>HEJ 👋</h1>

  <p>My name is <b>Mijndert Stuij</b> — an engineer, runner and minimalist. 
    I bring 10+ years of AWS experience to the table. 
    I love sharing my knowledge with others.
  </p>

  <p>You can follow me on <a href="https://twitter.com/mijndert">Twitter</a> 
    or <a href="https://github.com/mijndert">GitHub</a> 
    and see the <a href="/uses/">tools</a> I use.
  </p>

  {{ else }}
  <a href="{{ site.BaseURL }}">back</a>
</header>
{{ end }}