---
layout: default
post_class: post-template
---

{% include header.html %}

<main class="content" role="main">

    <article class="post">

      <header class="post-header">
        <section class="post-meta">
            <time class="post-date" datetime="{{ post.date | date: '%B %d, %Y' }}">{{ page.date | date: '%B %d, %Y' }}</time>
            {% if page.categories.size > 0 %}
                {{ page.categories | array_to_sentence_string | prepend: 'on ' }}
            {% endif %}
        </section>
      </header>

      <section class="post-content">
        {{content}}
      </section>
      
    </article>

</main>
