---
layout: default
---

<article class="post">

    {{ content }}

</article>

<section class="post-credits">
    
    <p>
        If you have thoughts you want to share with me <a href="{{ site.url }}/connect/">please do</a>. 
        I'm always happy to engage with strangers via email. 
        Head over to <a href="{{ site.url }}/archive/">the archive</a> if you're looking for more to read, or use the <a href="{{ site.url }}/feed.xml">RSS feed</a> in your favorite feed reader.
    </p>

</section>